ion-grid{
    margin: 0% !important;
    padding: 0% !important;
}
app-mycomp{
    margin: 0% !important;
    padding: 0% !important;
}
ion-row{
    margin: 0% !important;
    padding: 0% !important;
}
ion-col{
    margin: 0% !important;
    padding: 0.15% !important;
}

ion-content > *{
    margin: 0% !important;
    padding: 0% !important;
}