.nEstrellas > span{
    color: rgb(57, 191, 214) !important;
}
.nEstrellas{
    color: gold !important;
}
.precio{
    font-weight: bold !important;
    font-size: 1.5em !important;
    color: white !important;
}
h1{
    color: white !important;
    font-size: medium !important;
}
ion-card-content{
    padding: 0% !important;
}
ion-grid{
    margin: 0% !important;
    padding: 0% !important;
}
*{
    margin: 0% !important;
    padding: 0% !important;
}
ion-col{
    padding: 1% !important;
}